<div class='random-page'>
  <div class='random-img'>
    <img src='{{image_url}}' alt='' />
  </div>
  <div class='random-text'>
    <div>
      <h1>{{name}}</h1>
    </div>
    <div class='tag-random'>
      <h3>{{tagline}}</h3>
    </div>
    <div class='description-random'>
      <p>{{description}}</p>
    </div>
    <div class='pairing-random'>
      <h2>Food Pairing</h2>
      <ul class='food-pairing'>
          <li>{{ food_pairing }}</li>
      </ul>
    </div>
    <div class='tips-random'>
      <p><span>Brewers Tips: </span>{{brewers_tips}}</p>
    </div>
  </div>
</div>